# Tutorial de configuração do ambiente

# 1. Crie um ambiente virtual
# No terminal, navegue até o diretório do projeto e execute o comando:
# Windows:
#   python -m venv venv
# Linux/Mac:
#   python3 -m venv venv

# 2. Ative o ambiente virtual
# Windows:
#   venv\Scripts\activate
# Linux/Mac:
#   source venv/bin/activate

# 3. Instale as dependências do projeto
# Com o ambiente virtual ativo, execute:
#   pip install -r requirements.txt

# 4. Execute o servidor Flask
# Execute o seguinte comando para iniciar o servidor em modo de desenvolvimento:
#   python app.py

# -----------------------
# Dependências do projeto
Flask
flask-cors
Pillow
pytesseract
opencv-python-headless
numpy
pymongo
werkzeug
bson
pyspellchecker
pdf2image
language_tool_python
